<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41962028052-1qi8ktiaq0babbo68bh630o2fvddlg9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41962028052-1qi8ktiaq0babbo68bh630o2fvddlg9b</string>
	<key>API_KEY</key>
	<string>AIzaSyDo_MrKdppT5uX4xqQdRlSBawKNDn3OzY4</string>
	<key>GCM_SENDER_ID</key>
	<string>41962028052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTest.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fluttertest0825</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertest0825.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41962028052:ios:0a5198b3512e599d133b01</string>
</dict>
</plist>